@charset "utf-8";

/* 캐스퍼 인트로 영상 */
#mintro article{
  position:absolute;
  width:100%;top:50%;
  transform:translateY(-50%);
  text-align:center;
  color:#fff;
  z-index:100;
}
#mintro article > h3{
  font-size:60px;
  font-weight:bold;
}
#mintro article > p{
  line-height:80px;
  font-size:16px;
}
#mintro article > a{
  color:#fff;
  font-size:14px;
  text-decoration: underline;
  margin:0px 20px;
  padding:5px 10px;
}
#mintro article > a:first-of-type{
  background:rgb(0, 110, 255);
}

/* 아래로 이동하기 버튼 서식 */
#next_btn{
  position:absolute;
  bottom:40px;
  left:50%;
  transform:translateY(-50%);
  display:inline-block;
  width:30px;height:30px;
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
  transform:rotate(45deg);
  text-indent:-9999px;
}

/* 메인 타이틀  공통 서식 */
section > h2{
  font-size: 34px;
  text-align: center;
  font-weight: bold;
  padding: 80px 0px 10px 0px;
  color: #000;
}
section > p{
  text-align: center;
  line-height: 60px;
  font-size: 16px;
}

/* top3 서식 */
.top3{
  padding: 40px 0px;
  text-align: center;
}
.top3 img{padding: 30px 0px;}
.top3 .order em{
  color: rgb(60, 160, 126);
  border: 1px solid rgb(60,160,126);
  border-radius: 30px;
  padding: 6px 20px;
}
.order .title{
  display: block;
  padding-top: 20px;
  font-size: 20px;
  color: rgb(73, 102, 231);
}
.detail{}
.detail > ul{
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
.detail > ul > li{
  width: 240px;
  border-right: 1px solid #ccc;
  padding: 0px 20px;
  font-size: 16px;
  line-height: 20px;
}
.detail > ul > li:last-child{border: none;}
.out_color,.inner_color{
  display: inline-block;
  width: 56px;
  height: 46px;
  float: left;

}
.out_color{
  background-color: rgb(232, 233, 184);
}
.inner_color{
  background-color: rgb(68, 68, 68);
}
.detail .price{
  font-size: 32px;
  font-weight: bold;
}
.detail .price2{
  font-size: 16px;
  line-height: 50px;
  border: 1px solid #333;
  padding: 6px 40px;
}